.panelContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 10;
}

.innerContainer {
  padding: 5px;
}

.header h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}