##### Django backend #####
*.pyc
__pycache__
pyenv/
/static
/storage/*.key
.DS_Store

# extensions to ignore
*.log
*.pot
*.pyc
*~

# directories to ignore
.idea/

# ignore local settings
emap/settings.py


##### React frontend #####
node_modules/
frontend/dist/

webpack-stats.json
.env