// Map container layout
#map.mapContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

// Map popup styling
$answer-color: #76FF03;
$nonanswer-color: #FF1744;
:export {
  answerColor: $answer-color;
  nonAnswerColor: $nonanswer-color
}

%popup {
  :global(.mapboxgl-popup-content) {
    padding: 0;

    .popupTitle {
      padding: {
        top: 4px;
        bottom: 4px;
      };
      border: {
        top-left-radius: 3px;
        top-right-radius: 3px;
      };
      text-align: center;

      span {
        font: {
          size: 20px;
          family: 'Mali';
          weight: bold;
        };
      }
    }

    .popupContent {
      padding: 5px 8px;

      p {
        font-size: 13px;
        margin: 0;
      }

    }
  }
}

@mixin title-background($title-background) {
  :global(.mapboxgl-popup-content) {
    .popupTitle {
      background-color: $title-background;
    }
  }
}

.mapPopupAnswer, .mapPopupNonAnswer {
  @extend %popup
}

// Css for answer popups
.mapPopupAnswer {
  @include title-background($answer-color)
}

// Css for non answer popups
.mapPopupNonAnswer {
  @include title-background($nonanswer-color)
}

